<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_autumn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,84}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>B_bamboo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{54,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,83}}</string>
                <key>sourceSize</key>
                <string>{54,83}</string>
            </dict>
            <key>B_bamboo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_bamboo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,88},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_bamboo_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_bamboo_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,87},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_bamboo_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,172},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_bamboo_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_bamboo_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,87},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_bamboo_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_bamboo_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,87},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_character_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,172},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_character_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_character_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,87},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_character_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,172},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_character_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_character_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,87},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_character_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_character_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,87},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_character_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,172},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_chrysanthemum.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,173},{54,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,83}}</string>
                <key>sourceSize</key>
                <string>{54,83}</string>
            </dict>
            <key>B_dot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_dot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,87},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_dot_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,172},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_dot_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_dot_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,87},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_dot_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_dot_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,87},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_dot_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,172},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_dot_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_orchid.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,2},{54,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,83}}</string>
                <key>sourceSize</key>
                <string>{54,83}</string>
            </dict>
            <key>B_plum.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,87},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,172},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,2},{54,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,83}}</string>
                <key>sourceSize</key>
                <string>{54,83}</string>
            </dict>
            <key>B_summer.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,87},{54,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,83}}</string>
                <key>sourceSize</key>
                <string>{54,83}</string>
            </dict>
            <key>B_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_wind_east.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,87},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_wind_north.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,2},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_wind_south.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,87},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_wind_west.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,172},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_winter.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>e_mj_b_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,87},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
            <key>B_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,172},{55,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,83}}</string>
                <key>sourceSize</key>
                <string>{55,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Z_bottom.png</string>
            <key>size</key>
            <string>{937,229}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:acf534105d35a8c14a45431df7d29a33:8323100e754b9ffcf69f5b37037fdad3:94ff59b5ec1a6ef7f316b6147f64cff2$</string>
            <key>textureFileName</key>
            <string>Z_bottom.png</string>
        </dict>
    </dict>
</plist>
